/* --- GENERAL --- */
body {
  background:#F3D69C;
  font-family:Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size:15px;
}
.container.main {
  background:#F3E3C6;
  padding:0;
}
.content {
  border:2px solid #774E03;
  border-width:0 2px 2px 2px;
  margin-top:-10px;
  padding:6px 15px;
}

a {color:#774E03;text-decoration:none}
a:hover {color:#BB8B32}
a.toggleLink {color: white;display:block;float:right;margin-top:-13px;margin-right:5px}
h1 {
  background:#774E03;
  color:#FFF;
  font:150% 'Josefin Slab';
  margin-top:-25px;
  padding:8px 15px 10px 17px;
}
h2 {font:125% 'Josefin Slab'}
h3 {font:125% 'Josefin Slab';margin:10px 0 8px 0}
hr {border-color:#774E03}
input {border:1px solid #999;padding:1px 6px}
input[type="button"],
input[type="submit"],
button,.btn,.btn-default {
  background:#DDD;
  background-image:linear-gradient(to bottom, #FFF, #DDD 85%, #BBB);
  border:1px solid #999;
  border-radius:0;
  height:25px;
  padding:2px 6px;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,.btn:hover,.btn-default:hover {
  background:#EEE;
}
.btn-primary {
  background:#774E03;
  background-image:linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,0) 85%, rgba(0,0,0,.2));
  border-color:#774E03;
}
.btn-primary:hover {background:#774E03;border-color:#552C01}
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  box-shadow:inset 0 1px 4px rgba(0,0,0,.11);
  min-width:205px;
  padding:2px 4px 0 4px;
}

label.normal {font-weight: normal;}

.alert {background:#774E03;border-color:#4D3301;color:#FFF}
.alert a {color:#FFF}.alert a:hover {color:#F3D69C}
.error {color:red}
.nav-tabs {border-color:#774E03}
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a {background:#F9F0E0;border-color:#774E03;color:#774E03}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a {border-bottom-color:#F9F0E0;color:#4D3301}
.tab-content {background:#F9F0E0;border:1px solid #774E03;border-top:0;padding:1em}

.ui-icon {
  display: inline-block;
  width: 16px;
  height: 100%;
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.ui-icon-gear {
  background-image: url("../images/cog.svg");
}
.ui-icon-trash {
  background-image: url("../images/trash.svg");
}

/* --- HEADER --- */
header {
  background:#F9F0E0;
  border-bottom:2px solid #774E03;
  padding:8px 0 33px 0;
}
@media (min-width:992px) {
  header .container {padding-right:0}
}
.headerRight {
  float:right;
  padding:0;
}
@media(min-width: 768px) {
  .headerRight { display: table; }
}
.account-links {
  display:inline;
  float:left;
  margin-top:4px;
  padding-right:4px;
}
.searchbox {
  display:inline;
  float:left;
}
.searchbox form {
  margin-top:1px;
  vertical-align:middle;
}
.siteTitle {
  color:#4D3301;
  font:150% 'Josefin Slab';
  float:left;
}
.siteTitle:hover {color:#774E03}

@media (max-width:991px) {
  header {text-align:center}
  .headerRight {float:none;margin:0 auto}
  .account-links,.searchbox {display:inline}
  .siteTitle { width:100%; }
}
@media (max-width:650px) {
  .siteTitle {margin-bottom:0}
  .account-links,.searchbox {
    display:block;
    float:none;
    margin:6px 0 12px 0;
    width:100%;
  }
  .account-links .last {display:none}
  .searchbox input[type="text"] { margin-bottom: 4px; width: 100%; }
  .container.main { padding-left: 4px; padding-right: 4px; }
}

/* --- SEARCH --- */
.content h2 {
  background:#F9F0E0;
  padding:6px 15px;
  margin:6px -15px 6px -15px;
}
.content h2:first-child {margin-top:-6px}
.content > p:first-child {margin-bottom:12px}
.number {font-family:Courier}
.results .result a {
  font-family:Arial;
  margin-bottom:6px;
}
@media (max-width:991px) {
  .results h2 {border-top:1px solid #000;padding-top:7px}
  .results [class*=col-]:first-child h2 {border-top:0;padding-top:0}
}

/* --- RECORD --- */
table th {
  padding:1px 1em;
  vertical-align:top;
}
table td {padding-bottom:6px}
.link .url {
  color:green;
}
.disclaimer {
  margin:10px;
  padding:5px;
  border:1px solid black;
  background-color:white;
}

.collection, .collection td {
  border:1px solid black;
}

.collection .series {
  width:15%;
}

.collection .have, .collection .want {
  width:40%;
}

.review_signature {
  margin-left:5em;
}

.controls {
  background:#774E03;
  color:#F3D69C;
  padding:10px;
}
.controls.top {
  margin:0 -15px 6px -15px;
}
.controls.bottom {
  margin:6px -15px 0 -15px;
}
.controls a {color:#F9F0E0}
.controls p {margin-bottom:0}
.controls a.button {
  background:#FFF;
  border:1px solid #4D3301;
  color:#4D3301;
  margin:5px;
  padding:5px 8px;
}

.item-image {
  max-width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

/*table*/.approve {
  width: 100%;
}
.approve textarea { width: 100%; }

/* --- TABLE ALIGNMENT --- */
.list_item td { vertical-align: top; }

/* --- AUTOCOMPLETE --- */
.ac-item {
  max-width: 500px;
  color:#431;
}
.ac-item:hover,
.ac-item:focus {
  color: #fff;
  background-color: #774E03;
}

/* --- FOOTER --- */
.fineprint {font-size:85%;margin-bottom:0}
footer {
  background:#F3D69C;
  color:#431;
  font-size:10pt;
  padding-top:10px;
}

/* --- MODAL --- */
.modal-content { overflow: hidden; }
#modal .modal-title {
  margin: 0;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Josefin Slab';
}
.modal-header { padding: 0; }
.modal-close {
  float: right;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
  font-size: 4rem;
  line-height: 0.9;
  color: #774E03;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
