a {
    text-decoration:none;
    color:#774E03;
}

a:hover {
    color:#D79110;
}

body {
    font-size: 10pt;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background-color: #F3E3C6;
}

h1 {
    font-size: 150%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 125%;
}

table {
    width: 100%;
}

td, th {
    vertical-align: top;
}

.error {
    color: red;
}

.fineprint {
    font-size: smaller;
}

.searchbox {
    float: right;
    clear: right;
}

.headerControls {
    float: right;
    text-align: right;
    width: 150px;
}

.footer {
    border-top: 1px solid black;
}

table.edit {
    width: 100%;
}

table.edit tr th {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    width: 30%;
}

table.edit tr th span.note {
    font-weight: normal;
    font-size: 80%;
    line-height: 80%;
}

table.edit tr td input {
    width: 100%;
    font-size: 10pt;
}

table.edit tr td textarea {
    width: 100%;
    min-width: 300px;
    height: 150px;
    font-size: 10pt;
}

.edit_container {
    width: 500px;
}

table.approve tr td textarea {
    width: 100%;
    min-width: 500px;
    height: 200px;
    font-size: 10pt;
}

table.list_item {
    width: auto;
    padding: 0px;
}

table.list_item tr td {
    padding: 0px;
    margin: 0px;
}

.edit_tab_contents {
    height: 300px;
    overflow: auto;
}

input.number {
    width: 50px;
}

h3.filetype, h3.materialType, h3.series, .link, p.extraitem {
    margin-left: 2em;
}

p.file, span.item {
    margin-left: 4em;
}

.link .url {
    color: green;
}

table.image {
    width: auto;
    float: left;
}

table.item, table.series, table.user {
    width: auto;
}
table.item td, table.item th,
table.series td, table.series th,
table.user td, table.user th {
    text-align: left;
}

.disclaimer {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}

.collection, .collection td {
    border: 1px solid black;
}

.collection .series {
    width: 15%;
}

.collection .have, .collection .want {
    width: 40%;
}

.review_signature {
    margin-left: 5em;
}